/* Theme Colors */

:root {
  --yellow: #FFE599;
  --pink: #D5A6BD;
  --green: #B6D7A8;
  --teal: #A2C4C9;
  --blue: #9FC5F8;
}

/* Main Styles */

body {font-family: 'Quicksand', sans-serif;}

p {
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

nav, #sidebar, header, .posts article, footer {
  border: 2px solid black;
}

nav {
  background-color: var(--yellow);
  display: block;
  font-size: 1.2em;
  padding: 1%;
}

.container {
  margin: 0 auto;
}

#sidebar {
  background-color: var(--pink);
  padding: 1%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar .ad img {
  width: 100%;
}

header {
  background-color: var(--green);
  text-align: center;
  padding: 2%;
  border-radius: 20px;
  width: 100%;
}

header h1 {
  font-size: 1.5em;
  font-weight: bold;
}

header .author {
  font-style: italic;
}

.posts article {
  background-color: var(--teal);
  padding: 2%;
  margin: 1%;
}

.posts h1 {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.posts .date {
  text-align: center;
  font-style: 1em;
  font-style: italic;
  margin: 0.25em 0 1em 0;
}

.posts h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0;
}

footer {
  background-color: var(--blue);
  padding: 2%;
  width: 100%;
  clear: left;
}

/* ----------------------------------- *
 *           MEDIA QUERIES
 * ----------------------------------- */

/* NARROW SCREEN */
@media (max-width: 989px) {
  .container {
    max-width: 989px;
  }

  aside#sidebar {
    display: none;
  }

  header {
    border-radius: 0;
  }

  .posts article {
    width: 48%;
    float: left;
  }

  .posts article:nth-child(3) {
    clear: left;
    width: 100%;
  }

}/* narrow */

/* WIDE SCREEN */
@media (min-width: 990px) {

  .container {
    max-width: 990px;
  }

  #sidebar {
    width: 25%;
    height: 430px;
    float: left;
    margin: 10px;
  }

  main {
    width: 70%;
    float: left;
    margin: 10px 0;
  }

  .posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .posts article {
    width: 33%;
    /*float: left;*/
  }

  footer {
    border-radius: 20px;
  }

}/* wide */