/* Theme Colors */

:root {
  --yellow: #FFE599;
  --pink: #D5A6BD;
  --green: #B6D7A8;
  --teal: #A2C4C9;
  --blue: #9FC5F8;
}

/* Main Styles */

body {font-family: 'Quicksand', sans-serif;}

p {
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

nav, #sidebar, header, .posts article, footer {
  border: 2px solid black;
}

nav {
  background-color: var(--yellow);
  display: block;
}

#sidebar {
  background-color: var(--pink);
  padding: 1%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar .ad img {
  width: 100%;
}

header {
  background-color: var(--green);
}

.posts article {
  background-color: var(--teal);
}

footer {
  background-color: var(--blue);
}

/* ----------------------------------- *
 *           MEDIA QUERIES
 * ----------------------------------- */

/* Narrow Screen */
@media (max-width: 989px) {
  

}

/* Wide Screen */
@media (min-width: 990px) {
  

}